language: ruby

env: TRAVIS_DEFAULT_JOBS_SUCK="true"

os: osx
matrix:
  include:
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile-1.9.3" PUPPET_VERSION="~> 3.0"
      rvm: 1.9.3
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile-1.9.3" PUPPET_VERSION="~> 3.0" FUTURE_PARSER="yes"
      rvm: 1.9.3
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile-1.9.3" PUPPET_VERSION="~> 4.0"
      rvm: 1.9.3
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile-1.9.3" PUPPET_VERSION="~> 3.0" SLOW_TESTS="init.pp"
      rvm: 1.9.3
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile-1.9.3" PUPPET_VERSION="~> 3.0" SLOW_TESTS="init.pp" FUTURE_PARSER="yes"
      rvm: 1.9.3
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile-1.9.3" PUPPET_VERSION="~> 4.0" SLOW_TESTS="init.pp"
      rvm: 1.9.3
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile-1.9.3" PUPPET_VERSION="~> 3.0" SLOW_TESTS="token.pp"
      rvm: 1.9.3
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile-1.9.3" PUPPET_VERSION="~> 3.0" SLOW_TESTS="token.pp" FUTURE_PARSER="yes"
      rvm: 1.9.3
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile-1.9.3" PUPPET_VERSION="~> 4.0" SLOW_TESTS="token.pp"
      rvm: 1.9.3

    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 3.0"
      rvm: 2.2.2
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 3.0" FUTURE_PARSER="yes"
      rvm: 2.2.2
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 4.0"
      rvm: 2.2.2
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 3.0" SLOW_TESTS="init.pp"
      rvm: 2.2.2
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 3.0" SLOW_TESTS="init.pp" FUTURE_PARSER="yes"
      rvm: 2.2.2
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 4.0" SLOW_TESTS="init.pp"
      rvm: 2.2.2
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 3.0" SLOW_TESTS="token.pp"
      rvm: 2.2.2
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 3.0" SLOW_TESTS="token.pp" FUTURE_PARSER="yes"
      rvm: 2.2.2
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 4.0" SLOW_TESTS="token.pp"
      rvm: 2.2.2

    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 3.0"
      rvm: 2.2.3
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 3.0" FUTURE_PARSER="yes"
      rvm: 2.2.3
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 4.0"
      rvm: 2.2.3
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 3.0" SLOW_TESTS="init.pp"
      rvm: 2.2.3
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 3.0" SLOW_TESTS="init.pp" FUTURE_PARSER="yes"
      rvm: 2.2.3
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 4.0" SLOW_TESTS="init.pp"
      rvm: 2.2.3
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 3.0" SLOW_TESTS="token.pp"
      rvm: 2.2.3
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 3.0" SLOW_TESTS="token.pp" FUTURE_PARSER="yes"
      rvm: 2.2.3
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 4.0" SLOW_TESTS="token.pp"
      rvm: 2.2.3

    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 3.0"
      rvm: 2.2.4
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 3.0" FUTURE_PARSER="yes"
      rvm: 2.2.4
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 4.0"
      rvm: 2.2.4
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 3.0" SLOW_TESTS="init.pp"
      rvm: 2.2.4
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 3.0" SLOW_TESTS="init.pp" FUTURE_PARSER="yes"
      rvm: 2.2.4
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 4.0" SLOW_TESTS="init.pp"
      rvm: 2.2.4
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 3.0" SLOW_TESTS="token.pp"
      rvm: 2.2.4
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 3.0" SLOW_TESTS="token.pp" FUTURE_PARSER="yes"
      rvm: 2.2.4
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 4.0" SLOW_TESTS="token.pp"
      rvm: 2.2.4

    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 3.0"
      rvm: 2.2.5
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 3.0" FUTURE_PARSER="yes"
      rvm: 2.2.5
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 4.0"
      rvm: 2.2.5
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 3.0" SLOW_TESTS="init.pp"
      rvm: 2.2.5
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 3.0" SLOW_TESTS="init.pp" FUTURE_PARSER="yes"
      rvm: 2.2.5
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 4.0" SLOW_TESTS="init.pp"
      rvm: 2.2.5
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 3.0" SLOW_TESTS="token.pp"
      rvm: 2.2.5
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 3.0" SLOW_TESTS="token.pp" FUTURE_PARSER="yes"
      rvm: 2.2.5
    - osx_image: beta-xcode6.1  # 10.9
      env: GEMFILE="$PWD/Gemfile" PUPPET_VERSION="~> 4.0" SLOW_TESTS="token.pp"
      rvm: 2.2.5
  exclude:
    - env: TRAVIS_DEFAULT_JOBS_SUCK="true"

cache: bundler
bundler_args: --without system_tests

install:
  - brew update >/dev/null
  - brew cask update >/dev/null

  - sudo PUPPET_VERSION="$PUPPET_VERSION" bundle install --gemfile="$GEMFILE"

  - sudo BUNDLE_GEMFILE="$GEMFILE" bundle exec puppet module build
  - sudo BUNDLE_GEMFILE="$GEMFILE" bundle exec puppet module install pkg/thekevjames-homebrew-*.tar.gz

before_script:
  - sudo chown -R travis:admin /usr/local
  - sudo chmod -R 0775 /usr/local

  - brew list --versions
  - brew cask list --versions

script:
  - bash test.sh

notifications:
  email: false
