version: 2.1

orbs:
  linter: talkiq/linter@4

executors:
  python:
    docker:
      - image: python:3.13.0
    resource_class: medium

jobs:
  test:
    docker:
      - image: ruby:<< parameters.ruby_version >>
    environment:
      STRICT_VARIABLES: "yes"
    parameters:
      puppet_version:
        type: string
      ruby_version:
        type: string
    steps:
      - checkout
      - run: ./bin/build --puppet "<< parameters.puppet_version >>"
      - run: puppet module install pkg/thekevjames-homebrew-*.tar.gz
      # - run: ./test
      - store_artifacts:
          path: pkg/

workflows:
  run-jobs:
    jobs:
      - linter/pre-commit:
          executor: python
      - test:
          name: test-ruby<< matrix.ruby_version >>-pup<< matrix.puppet_version >>
          matrix:
            parameters:
              puppet_version:
                - '<9.0.0'
              ruby_version:
                - '3.4.8'
                - '4.0.1'
