version: 2.1

orbs:
  linter: thekevjames/linter@0

jobs:
  # build-ruby-1_9_3-puppet-3:
  #   docker:
  #     - image: aptible/ruby:1.9.3
  #   environment:
  #     STRICT_VARIABLES: "yes"
  #   steps:
  #     - checkout
  #     - run: gem install --no-ri --no-rdoc puppet-lint "puppet:<4.0.0"
  #     - run: puppet-lint manifests/init.pp
  #     - run: puppet-lint manifests/install.pp
  #     - run: puppet-lint manifests/compiler.pp
  #     - run: puppet parser validate --noop manifests/init.pp
  #     - run: puppet parser validate --noop manifests/install.pp
  #     - run: puppet parser validate --noop manifests/compiler.pp
  #     - run: puppet module build
  #     - run: puppet module install pkg/thekevjames-homebrew-*.tar.gz
  #     # - run: ./test.sh

  build-ruby-1_9_3-puppet-4:
    docker:
      - image: aptible/ruby:1.9.3
    environment:
      STRICT_VARIABLES: "yes"
    steps:
      - checkout
      - run: gem install --no-ri --no-rdoc puppet-lint "puppet:<5.0.0"
      - run: puppet-lint manifests/init.pp
      - run: puppet-lint manifests/install.pp
      - run: puppet-lint manifests/compiler.pp
      - run: puppet parser validate --noop manifests/init.pp
      - run: puppet parser validate --noop manifests/install.pp
      - run: puppet parser validate --noop manifests/compiler.pp
      - run: puppet module build
      - run: puppet module install pkg/thekevjames-homebrew-*.tar.gz
      # - run: ./test.sh

  # build-ruby-2_2_10-puppet-3:
  #   docker:
  #     - image: ruby:2.2.10
  #   environment:
  #     STRICT_VARIABLES: "yes"
  #   steps:
  #     - checkout
  #     # https://tickets.puppetlabs.com/browse/PUP-3796
  #     - run: gem install --no-ri --no-rdoc puppet-lint "puppet:<4.0.0" syck
  #     - run: sed -i "1s/^/require 'syck'\n/" /usr/local/bundle/gems/puppet-3.8.7/lib/puppet.rb
  #     - run: puppet-lint manifests/init.pp
  #     - run: puppet-lint manifests/install.pp
  #     - run: puppet-lint manifests/compiler.pp
  #     - run: puppet parser validate --noop manifests/init.pp
  #     - run: puppet parser validate --noop manifests/install.pp
  #     - run: puppet parser validate --noop manifests/compiler.pp
  #     - run: puppet module build
  #     - run: puppet module install pkg/thekevjames-homebrew-*.tar.gz
  #     # - run: ./test.sh

  build-ruby-2_2_10-puppet-4:
    docker:
      - image: ruby:2.2.10
    environment:
      STRICT_VARIABLES: "yes"
    steps:
      - checkout
      - run: gem install --no-ri --no-rdoc puppet-lint "puppet:<5.0.0"
      - run: puppet-lint manifests/init.pp
      - run: puppet-lint manifests/install.pp
      - run: puppet-lint manifests/compiler.pp
      - run: puppet parser validate --noop manifests/init.pp
      - run: puppet parser validate --noop manifests/install.pp
      - run: puppet parser validate --noop manifests/compiler.pp
      - run: puppet module build
      - run: puppet module install pkg/thekevjames-homebrew-*.tar.gz
      # - run: ./test.sh

  build-ruby-2_2_10-puppet-5:
    docker:
      - image: ruby:2.2.10
    environment:
      STRICT_VARIABLES: "yes"
    steps:
      - checkout
      - run: gem install --no-ri --no-rdoc puppet-lint "puppet:<6.0.0"
      - run: puppet-lint manifests/init.pp
      - run: puppet-lint manifests/install.pp
      - run: puppet-lint manifests/compiler.pp
      - run: puppet parser validate --noop manifests/init.pp
      - run: puppet parser validate --noop manifests/install.pp
      - run: puppet parser validate --noop manifests/compiler.pp
      - run: puppet module build
      - run: puppet module install pkg/thekevjames-homebrew-*.tar.gz
      # - run: ./test.sh

  build-ruby-2_2_10-puppet-6:
    docker:
      - image: ruby:2.2.10
    environment:
      STRICT_VARIABLES: "yes"
    steps:
      - checkout
      - run: gem install --no-ri --no-rdoc puppet-lint "puppet:<7.0.0"
      - run: puppet-lint manifests/init.pp
      - run: puppet-lint manifests/install.pp
      - run: puppet-lint manifests/compiler.pp
      - run: puppet parser validate --noop manifests/init.pp
      - run: puppet parser validate --noop manifests/install.pp
      - run: puppet parser validate --noop manifests/compiler.pp
      - run: puppet module build
      - run: puppet module install pkg/thekevjames-homebrew-*.tar.gz
      # - run: ./test.sh

  # build-ruby-2_3_7-puppet-3:
  #   docker:
  #     - image: ruby:2.3.7
  #   environment:
  #     STRICT_VARIABLES: "yes"
  #   steps:
  #     - checkout
  #     # https://tickets.puppetlabs.com/browse/PUP-3796
  #     - run: gem install --no-ri --no-rdoc puppet-lint "puppet:<4.0.0" syck
  #     - run: sed -i "1s/^/require 'syck'\n/" /usr/local/bundle/gems/puppet-3.8.7/lib/puppet.rb
  #     - run: puppet-lint manifests/init.pp
  #     - run: puppet-lint manifests/install.pp
  #     - run: puppet-lint manifests/compiler.pp
  #     - run: puppet parser validate --noop manifests/init.pp
  #     - run: puppet parser validate --noop manifests/install.pp
  #     - run: puppet parser validate --noop manifests/compiler.pp
  #     - run: puppet module build
  #     - run: puppet module install pkg/thekevjames-homebrew-*.tar.gz
  #     # - run: ./test.sh

  build-ruby-2_3_7-puppet-4:
    docker:
      - image: ruby:2.3.7
    environment:
      STRICT_VARIABLES: "yes"
    steps:
      - checkout
      - run: gem install --no-ri --no-rdoc puppet-lint "puppet:<5.0.0"
      - run: puppet-lint manifests/init.pp
      - run: puppet-lint manifests/install.pp
      - run: puppet-lint manifests/compiler.pp
      - run: puppet parser validate --noop manifests/init.pp
      - run: puppet parser validate --noop manifests/install.pp
      - run: puppet parser validate --noop manifests/compiler.pp
      - run: puppet module build
      - run: puppet module install pkg/thekevjames-homebrew-*.tar.gz
      # - run: ./test.sh

  build-ruby-2_3_7-puppet-5:
    docker:
      - image: ruby:2.3.7
    environment:
      STRICT_VARIABLES: "yes"
    steps:
      - checkout
      - run: gem install --no-ri --no-rdoc puppet-lint "puppet:<6.0.0"
      - run: puppet-lint manifests/init.pp
      - run: puppet-lint manifests/install.pp
      - run: puppet-lint manifests/compiler.pp
      - run: puppet parser validate --noop manifests/init.pp
      - run: puppet parser validate --noop manifests/install.pp
      - run: puppet parser validate --noop manifests/compiler.pp
      - run: puppet module build
      - run: puppet module install pkg/thekevjames-homebrew-*.tar.gz
      # - run: ./test.sh

  build-ruby-2_3_7-puppet-6:
    docker:
      - image: ruby:2.3.7
    environment:
      STRICT_VARIABLES: "yes"
    steps:
      - checkout
      - run: gem install --no-ri --no-rdoc puppet-lint "puppet:<7.0.0"
      - run: puppet-lint manifests/init.pp
      - run: puppet-lint manifests/install.pp
      - run: puppet-lint manifests/compiler.pp
      - run: puppet parser validate --noop manifests/init.pp
      - run: puppet parser validate --noop manifests/install.pp
      - run: puppet parser validate --noop manifests/compiler.pp
      - run: puppet module build
      - run: puppet module install pkg/thekevjames-homebrew-*.tar.gz
      # - run: ./test.sh

  build-ruby-2_4_4-puppet-4:
    docker:
      - image: ruby:2.4.4
    environment:
      STRICT_VARIABLES: "yes"
    steps:
      - checkout
      - run: gem install --no-ri --no-rdoc puppet-lint "puppet:<5.0.0"
      - run: puppet-lint manifests/init.pp
      - run: puppet-lint manifests/install.pp
      - run: puppet-lint manifests/compiler.pp
      - run: puppet parser validate --noop manifests/init.pp
      - run: puppet parser validate --noop manifests/install.pp
      - run: puppet parser validate --noop manifests/compiler.pp
      - run: puppet module build
      - run: puppet module install pkg/thekevjames-homebrew-*.tar.gz
      # - run: ./test.sh

  build-ruby-2_4_4-puppet-5:
    docker:
      - image: ruby:2.4.4
    environment:
      STRICT_VARIABLES: "yes"
    steps:
      - checkout
      - run: gem install --no-ri --no-rdoc puppet-lint "puppet:<6.0.0"
      - run: puppet-lint manifests/init.pp
      - run: puppet-lint manifests/install.pp
      - run: puppet-lint manifests/compiler.pp
      - run: puppet parser validate --noop manifests/init.pp
      - run: puppet parser validate --noop manifests/install.pp
      - run: puppet parser validate --noop manifests/compiler.pp
      - run: puppet module build
      - run: puppet module install pkg/thekevjames-homebrew-*.tar.gz
      # - run: ./test.sh

  build-ruby-2_4_4-puppet-6:
    docker:
      - image: ruby:2.4.4
    environment:
      STRICT_VARIABLES: "yes"
    steps:
      - checkout
      - run: gem install --no-ri --no-rdoc puppet-lint "puppet:<7.0.0"
      - run: puppet-lint manifests/init.pp
      - run: puppet-lint manifests/install.pp
      - run: puppet-lint manifests/compiler.pp
      - run: puppet parser validate --noop manifests/init.pp
      - run: puppet parser validate --noop manifests/install.pp
      - run: puppet parser validate --noop manifests/compiler.pp
      - run: puppet module build
      - run: puppet module install pkg/thekevjames-homebrew-*.tar.gz
      # - run: ./test.sh

  build-ruby-2_5_1-puppet-4:
    docker:
      - image: ruby:2.5.1
    environment:
      STRICT_VARIABLES: "yes"
    steps:
      - checkout
      - run: gem install --no-ri --no-rdoc puppet-lint "puppet:<5.0.0"
      - run: puppet-lint manifests/init.pp
      - run: puppet-lint manifests/install.pp
      - run: puppet-lint manifests/compiler.pp
      - run: puppet parser validate --noop manifests/init.pp
      - run: puppet parser validate --noop manifests/install.pp
      - run: puppet parser validate --noop manifests/compiler.pp
      - run: puppet module build
      - run: puppet module install pkg/thekevjames-homebrew-*.tar.gz
      # - run: ./test.sh

  build-ruby-2_5_1-puppet-5:
    docker:
      - image: ruby:2.5.1
    environment:
      STRICT_VARIABLES: "yes"
    steps:
      - checkout
      - run: gem install --no-ri --no-rdoc puppet-lint "puppet:<6.0.0"
      - run: puppet-lint manifests/init.pp
      - run: puppet-lint manifests/install.pp
      - run: puppet-lint manifests/compiler.pp
      - run: puppet parser validate --noop manifests/init.pp
      - run: puppet parser validate --noop manifests/install.pp
      - run: puppet parser validate --noop manifests/compiler.pp
      - run: puppet module build
      - run: puppet module install pkg/thekevjames-homebrew-*.tar.gz
      # - run: ./test.sh

  build-ruby-2_5_1-puppet-6:
    docker:
      - image: ruby:2.5.1
    environment:
      STRICT_VARIABLES: "yes"
    steps:
      - checkout
      - run: gem install --no-ri --no-rdoc puppet-lint "puppet:<7.0.0"
      - run: puppet-lint manifests/init.pp
      - run: puppet-lint manifests/install.pp
      - run: puppet-lint manifests/compiler.pp
      - run: puppet parser validate --noop manifests/init.pp
      - run: puppet parser validate --noop manifests/install.pp
      - run: puppet parser validate --noop manifests/compiler.pp
      - run: puppet module build
      - run: puppet module install pkg/thekevjames-homebrew-*.tar.gz
      # - run: ./test.sh

workflows:
  version: 2
  run-jobs:
    jobs:
      - linter/pre-commit:
          python_version: 3.7.4

      # - build-ruby-1_9_3-puppet-3
      - build-ruby-1_9_3-puppet-4

      # - build-ruby-2_2_10-puppet-3
      - build-ruby-2_2_10-puppet-4
      - build-ruby-2_2_10-puppet-5
      - build-ruby-2_2_10-puppet-6

      # - build-ruby-2_3_7-puppet-3
      - build-ruby-2_3_7-puppet-4
      - build-ruby-2_3_7-puppet-5
      - build-ruby-2_3_7-puppet-6

      - build-ruby-2_4_4-puppet-4
      - build-ruby-2_4_4-puppet-5
      - build-ruby-2_4_4-puppet-6

      - build-ruby-2_5_1-puppet-4
      - build-ruby-2_5_1-puppet-5
      - build-ruby-2_5_1-puppet-6
