version: 2.1

orbs:
  linter: talkiq/linter@4

executors:
  ruby:
    docker:
      - image: ruby:4.0.1
    resource_class: medium
  python:
    docker:
      - image: python:3.13.0
    resource_class: medium

jobs:
  test:
    executor: ruby
    environment:
      STRICT_VARIABLES: "yes"
    parameters:
      version:
        type: string
    steps:
      - checkout
      - run: ./bin/build --puppet "<< parameters.version >>"
      - run: puppet module install pkg/thekevjames-homebrew-*.tar.gz
      # - run: ./test
      - store_artifacts:
          path: pkg/

workflows:
  run-jobs:
    jobs:
      - linter/pre-commit:
          executor: python
      - test:
          # renovate: datasource=rubygems depName=puppet
          version: 8.10.0
