version: 2.1

orbs:
  linter: thekevjames/linter@0

jobs:
  test:
    docker:
      - image: ruby:<< parameters.ruby_version >>
    environment:
      STRICT_VARIABLES: "yes"
    parameters:
      pdk:
        type: boolean
      puppet_version:
        type: string
      ruby_version:
        type: string
    steps:
      - checkout
      - run: gem install -N puppet-lint "puppet:<< parameters.puppet_version >>"
      - when:
          condition: << parameters.pdk >>
          steps:
            - run: gem install -N pdk
      - run: puppet-lint manifests/init.pp
      - run: puppet-lint manifests/install.pp
      - run: puppet-lint manifests/compiler.pp
      - run: puppet parser validate --noop manifests/init.pp
      - run: puppet parser validate --noop manifests/install.pp
      - run: puppet parser validate --noop manifests/compiler.pp
      - when:
          condition: << parameters.pdk >>
          steps:
            - run: pdk build
      - unless:
          condition: << parameters.pdk >>
          steps:
            - run: puppet module build
      - run: puppet module install pkg/thekevjames-homebrew-*.tar.gz
      # - run: ./test
      - store_artifacts:
          path: pkg/

workflows:
  run-jobs:
    jobs:
      - linter/pre-commit:
          python_version: 3.7.10
          pre-steps:
            - run: apt-get update
            - run: apt-get install -qy shellcheck

      - test:
          name: test-ruby<<matrix.ruby_version>>-pup<<matrix.puppet_version>>
          pdk: false
          matrix:
            parameters:
              puppet_version:
                - '<5.0.0'
                - '<6.0.0'
              ruby_version:
                - '2.2.10'
                - '2.3.8'
                - '2.4.10'
                - '2.5.9'
                - '2.6.7'
      - test:
          name: test-ruby<<matrix.ruby_version>>-pup<<matrix.puppet_version>>
          pdk: true
          matrix:
            parameters:
              puppet_version:
                - '<7.0.0'
              ruby_version:
                - '2.5.9'
                - '2.6.7'
                - '2.7.3'
